/* Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:regular,bold|Karla:regular,bold|Merriweather|Source+Code+Pro');

/* Grid Structure
 * 3-column grid structure is based on 30% content, 5% padding
 * 30% - 5% - 30% - 5% - 30%
 */

/* Bootstrap Response Screen Sizes
 * @media screen and (max-width: 576px)
 * @media screen and (max-width: 768px)
 * @media screen and (max-width: 992px)
 * @media screen and (max-width: 1200px)
 */


/* Base Body, HTML Styles and other Generic Styles */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Karla', Helvetica, Arial, san-serif;
  color: #666666;
  font-size: 18px;
  line-height: 1.5em;
}

* {
  box-sizing: content-box;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: inherit;
}


/* WordPress Content Editor Fixes */

p:empty {
  display: none;
}

br + br, br:last-child {
  display: none;
}


/* Generic Horizontal Wrapping Behaviour */

.wrap-container {
  padding: 0 90px;
}

.wrap-container > *:not(.full-width), .full-width > * {
  max-width: 1080px;
  margin: 0 auto;
}

.wrap-container .full-width {
  margin-left: -90px;
  margin-right: -90px;
  padding: 0 90px;
}

@media screen and (min-width: 1440px) {
  .wrap-container > *:not(.full-width), .full-width > * {
    max-width: 1280px;
  }
}

@media screen and (max-width: 992px) {

  .wrap-container {
    padding: 0;
  }

  .wrap-container:not(.menu-container) > *:not(.full-width), .full-width > * {
    padding: 0 45px;
  }

  .wrap-container > .grid-container {
    padding: 0 10px;
  }

  .wrap-container .full-width {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .wrap-container .gift-logo {
    padding: 0;
  }

}

@media screen and (max-width: 576px) {

  .wrap-container:not(.menu-container) > *:not(.full-width), .full-width > * {
    padding: 0 15px;
  }

}


/* Menu */

.menu-container {
  display: block;
  position: relative;
  height: 90px;
  z-index: 2;
}

.menu-container .home-link {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.menu-container .gift-logo {
  width: 100%;
  height: 100%;
  background-image: url('../img/gift-logo-black.png');
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.menu-container .menu-toggler {
  display: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  opacity: 0.5;
  outline: none;
}

.menu-container:not(.open) .menu-toggler {
  background-image: url('../img/hamburger-menu.png');
}

.menu-container.open .menu-toggler, .menu-container.white-on-mobile.open .menu-toggler {
  background-image: url('../img/close-button.png');
}

.menu-container .menu {
  height: 90px;
}

.menu-item {
  position: relative;
  overflow: visible;
}

.menu > .menu-item > .sub-menu::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: -10px;
  left: 25px;
  transform: rotate(45deg);
  background-color: #333333;
}

.menu > .menu-item:not(.active) > .sub-menu {
  display: none;
}

.menu-item > .sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  background-color: #333333;
  padding: 12.5px 0;
}

.menu-item .sub-menu .menu-item {
  color: #FFFFFF;
  font-size: 14px;
  height: inherit;
  line-height: 1em;
  padding: 0;
  font-weight: normal;
}

.menu-item .sub-menu .menu-item a {
  padding: 12.5px 25px;
}

.menu-item .sub-menu > .menu-item:hover a {
  color: #CCCCCC;
}

.menu-item-is-tabular > .sub-menu {
  flex-direction: row;
}

.menu-item-is-tabular > .sub-menu .menu-item-has-children {
  font-size: 18px;
}

.menu-item-is-tabular > .sub-menu > .menu-item-has-children > a {
  cursor: default;
}

.menu-item-is-tabular > .sub-menu > .menu-item-has-children:hover a {
  color: inherit;
}

.menu-item-is-tabular > .sub-menu > .menu-item-has-children .sub-menu {
  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-item-is-tabular > .sub-menu > .menu-item-has-children .sub-menu > .menu-item:hover a {
  color: #CCCCCC;
}

.menu-item-is-tabular > .sub-menu > .menu-item:hover a {
  color: inherit;
}

.menu-item-is-tabular > .sub-menu .menu-item-has-children .sub-menu {
  position: static;
}

.menu-item-is-tabular > .sub-menu .menu-item-has-children .sub-menu > .menu-item {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1260px) {

  .menu-container .gift-logo {
    background-size: 40px 40px;
  }

}

@media screen and (max-width: 992px) {

  .menu-container .navigation {
    margin-left: 90px;
  }

  .menu-container.white-on-mobile {
    background-image: linear-gradient(
      180deg,
      rgba(51, 51, 51, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .menu-container.white-on-mobile .gift-logo {
    background-image: url('../img/gift-logo-white.png');
  }

  .menu-container.white-on-mobile .menu-toggler {
    background-image: url('../img/hamburger-menu-white.png');
    opacity: 1;
  }

  .menu-container.white-on-mobile .navigation ul li {
    color: #FFFFFF;
  }

  .menu-container.white-on-mobile .navigation ul li a:hover {
    color: #DDDDDD;
  }

}

@media screen and (max-width: 576px) {

  .menu-container:not(.open) .menu {
    display: none;
  }

  .menu-container .menu-toggler {
    display: block;
  }

  .menu > .menu-item:not(.active) > .sub-menu {
    display: flex;
    position: static;
    background-color: transparent;
    padding: 0;
  }

  .menu > .menu-item:not(.active) > .sub-menu::before {
    display: none;
  }

  .menu > .menu-item:not(.active) > .sub-menu .menu-item, .menu-container.open .navigation ul li {
    color: #666666;
    padding: 0;
    min-height: 40px;
    line-height: 40px;
    height: auto;
  }

  .menu > .menu-item:not(.active) > .sub-menu .menu-item a {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-container.open {
    position: relative;
  }

  .menu-container.open .menu {
    height: auto;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 25px;
    position: absolute;
    top: 0;
    left: -45px;
    right: 0;
    border-bottom: 1px solid #EEEEEE;
  }

  .menu-container.open .menu-item {
    padding: 0;
    min-height: 45px;
    line-height: 45px;
    height: auto;
  }

}


/* Navigation */

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.navigation ul li {
  line-height: 90px;
  height: 90px;
  padding: 0 20px;
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  color: #444444;
}

.navigation ul li:first-child {
  padding-left: 0;
}

.navigation ul li a {
  color: inherit;
  height: inherit;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.navigation ul li a:hover {
  color: #000000;
  text-decoration: none;
}

.navigation ul li.special {
  color: #FF006E;
}

.navigation ul li.special a:hover {
  color: #B2004D;
}

.navigation ul li.call-to-action {
  color: #EE5E54;
}

.navigation ul li.call-to-action:hover {
  color: #BA4942;
}

@media screen and (max-width: 1260px) {

  .navigation ul li {
    padding: 0 15px;
    font-size: 17px;
  }

}


/* Breadcrumbs */

.breadcrumbs ul li {
  padding: 0 0 0 12px;
  line-height: 1em;
  height: auto;
  margin-bottom: 40px;
}

.breadcrumbs ul li:not(:last-child) {
  color: #999999;
}

.breadcrumbs ul li:not(:last-child) a:hover {
  color: #555555;
}


/* Generic Styling */

.content-area h1, .content-area h2, .content-area h3 {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.content-area h1 {
  color: #444444;
  font-size: 42px;
  line-height: 1.4em;
  margin: 0 0 40px 0;
  letter-spacing: -0.05em;
}

.content-area h1 a {
  text-decoration: none;
  color: inherit;
}

.content-area h1 a:hover {
  color: #666666;
}

.content-area h2 {
  color: #666666;
  font-size: 32px;
  line-height: 1.4em;
  margin: 45px 0 21px 0;
  letter-spacing: -0.04em;
}

.content-area h3 {
  color: #666666;
  font-size: 22px;
  line-height: 1.75em;
  margin: 40px 0 21px 0;
}

.content-area p, .content-area li {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 18px;
  line-height: 1.75em;
}

.content-area blockquote {
  color: #555555;
}

.content-area em {
  color: #EE5E54;
  font-weight: bold;
  font-style: normal;
}

@media screen and (max-width: 1260px) {

  .content-area h1 {
    font-size: 36px;
  }

}

@media screen and (max-width: 576px) {

  .content-area h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .content-area h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .content-area p, .content-area li {
    line-height: 1.5em;
  }

}

/* Buttons and UI */

.button, button,
input[type="button"],
.button.primary,
button.primary,
input[type='button'].primary {
  text-align: center;
  display: block;
  border: none;
  border-radius: 0;
  width: 300px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #EE5E54;
  padding: 0 30px;
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
}

.button:hover, button:hover, input[type="button"]:hover, .button.primary:hover, button.primary:hover, input[type='button'].primary:hover {
  text-decoration: none;
  color: inherit;
  color: #FFFFFF;
}

.button.secondary, button.secondary, input[type='button'].secondary {
  background-color: #EEA61A;
}

@media screen and (max-width: 576px) {

  .button, button,
  input[type="button"],
  .button.primary,
  button.primary,
  input[type='button'].primary {
    width: 100%;
  }

}


/* Forms */

.standard-form {
  margin: 45px 0 0 0;
  width: 100%;
}

.standard-form .standard-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.standard-form .standard-form-group + .standard-form-group {
  margin-top: 23px;
}

.standard-form fieldset + fieldset {
  margin-top: 34px;
}

.standard-form label {
  display: block;
  padding: 9px 30px 0 0;
  width: 130px;
}

.standard-form input[type="text"],
.standard-form input[type="email"],
.standard-form input[type="password"] {
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  border: 1px solid #666666;
  height: 58px;
  padding: 14px;
  flex-grow: 1;
}

.standard-form input[type="text"]::placeholder,
.standard-form input[type="email"]::placeholder,
.standard-form input[type="password"]::placeholder {
  color: #999999;
}

.standard-form input[type="radio"],
.standard-form input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #666666;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.standard-form input[type="radio"]:checked:before,
.standard-form input[type="radio"]:hover:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
}

.standard-form input[type="radio"]:hover:before {
  background-color: #EEEEEE;
}

.standard-form input[type="radio"]:checked:before {
  background-color: #999999;
}

.standard-form input[type="radio"] + label,
.standard-form input[type="checkbox"] + label {
  flex-grow: 1;
  margin-left: 27px;
}

@media screen and (max-width: 576px) {

  .standard-form .standard-form-group.text-field-group {
    flex-direction: column;
  }

  .standard-form .standard-form-group.text-field-group label,
  .standard-form .standard-form-group.text-field-group input {
    width: 100%;
  }

  .standard-form .standard-form-group.text-field-group label {
    padding: 0;
  }

}


/* Full Width Sections */

.full-width {
  position: relative;
  background-color: #FBF8F3;
  font-family: 'Karla', Helvetica, Arial, san-serif;
  color: #666666;
  font-size: 18px;
  line-height: 1.5em;
}

.full-width.dark {
  background-color: #444444;
}

.full-width.how-to {
  background-color: #38A0DA;
}

.full-width.code pre {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 100%;
  margin: 0;
  color: #FFFFFF;
}

.full-width.image-container {
  padding: 0;
}

.full-width .full-width-image {
  width: 100%;
  height: 600px;
  padding: 0;
  display: block;
  object-fit: cover;
  max-width: none;
}

.full-width.dark, .full-width.dark h1, .full-width.dark h2, .full-width.dark p, .full-width.dark li, .full-width.dark a,
.full-width.how-to, .full-width.how-to h1, .full-width.how-to h2, .full-width.how-to p, .full-width.how-to li, .full-width.how-to a {
  color: #FFFFFF;
}

.full-width h1:first-child, .full-width h2:first-child, .full-width h3:first-child {
  margin-top: 0;
}

.full-width .full-width-inner h3 {
  font-family: 'Karla', Helvetica, Arial, san-serif;
  color: #444444;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 20px 0;
}

.full-width .full-width-inner .list-of-links {
  padding-left: 30px;
  list-style-type: none;
  padding: 0;
}

.full-width .full-width-inner .list-of-links  li {
  margin-bottom: 5px;
}

.full-width .full-width-image {
  width: 100%;
}

.full-width .full-width-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.full-width .full-width-video-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-width .full-width-inner {
  padding-top: 70px;
  padding-bottom: 70px;
}

.full-width .full-width-inner.margins-reduced {
  padding-top: 60px;
  padding-bottom: 60px;
}

.full-width .full-width-inner.positioned {
  position: absolute;
}

.full-width .full-width-inner.positioned.top {
  top: 0;
}

.full-width .full-width-inner.positioned.bottom {
  bottom: 0;
}

.full-width .full-width-inner.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.full-width .has-column-layout {
  display: flex;
  justify-content: space-between;
}

.full-width .has-column-layout:not(:first-child), .full-width .column-container:not(:first-child) {
  margin-top: 40px;
}

.full-width .full-width-inner .full-width-inner-col {
  flex: 1;
}

.full-width .full-width-inner .full-width-inner-col:not(:last-of-type) {
  margin-right: 5%;
}

@media screen and (max-width: 1260px) {

  .full-width .full-width-inner h3 {
    font-size: 20px;
  }

}

@media screen and (max-width: 992px) {

  .full-width .full-width-inner {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .full-width:not(.preserve-horizontal-col-layout-on-tablet) .has-column-layout {
    flex-direction: column;
  }

  .full-width:not(.preserve-horizontal-col-layout-on-tablet) .full-width-inner *:last-child {
    margin-bottom: 0;
  }

  .full-width:not(.preserve-horizontal-col-layout-on-tablet) .full-width-inner .full-width-inner-col:not(:last-child) {
    margin-right: 0;
    margin-bottom: 45px;
  }

}

@media screen and (max-width: 576px) {

  .full-width .full-width-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .full-width:not(.preserve-horizontal-col-layout-on-tablet) .full-width-inner .full-width-inner-col:not(:last-child) {
    margin-bottom: 30px;
  }

  .full-width.preserve-horizontal-col-layout-on-tablet .has-column-layout {
    flex-direction: column;
  }

  .full-width.preserve-horizontal-col-layout-on-tablet .full-width-inner *:last-child {
    margin-bottom: 0;
  }

  .full-width.preserve-horizontal-col-layout-on-tablet .full-width-inner .full-width-inner-col:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

}


/* Project Partner Logos */

.project-partner-logos {
  display: flex;
  flex-wrap: wrap;
}

.project-partner-logo {
  height: 150px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 75%;
  background-color: transparent;
  width: 20%;
  flex-basis: 20%;
}

@media screen and (max-width: 680px) {

  .project-partner-logo {
    height: 100px;
    width: 25%;
    flex-basis: 25%;
  }

}

@media screen and (max-width: 480px) {

  .project-partner-logo {
    height: 75px;
    width: 33.3%;
    flex-basis: 33.3%;
  }

}

/* Feature Blocks */

.feature-block {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  min-height: 680px;
}

.feature-block:first-of-type {
  margin-top: -90px;
}

.feature-block:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.feature-block-image, .feature-block-caption {
  box-sizing: border-box;
}

.feature-block-caption, .feature-block-image-caption {
  padding: 90px;
}

.feature-block-caption {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-block:nth-child(2n+0) .feature-block-caption {
  padding-left: calc((100vw - 1080px) / 2);
}

.feature-block:nth-child(2n+1) .feature-block-caption {
  padding-right: calc((100vw - 1080px) / 2);
}

.feature-block.hero .feature-block-caption {
  padding-right: calc((100vw - 1080px) / 2);
}

.feature-block-caption h2,
.feature-block-caption h3 {
  margin-top: 0;
}

.feature-block.downshifted .feature-block-caption {
  padding-top: 40vh;
}

.feature-block-image {
  height: 100%;
  width: 40%;
}

.feature-block-image .feature-block-image-image {
  display: none;
}

.feature-block-image .feature-block-image-displayable {
  height: 100%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.feature-block-image .feature-block-image-caption {
  display: none;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
  max-width: 450px;
  margin: 0;
}

.feature-block.hero .feature-block-image-displayable {
  background-position-x: 70%;
}

.feature-block.downshifted .feature-block-image {
  padding-top: 10vh;
}

.feature-block.highlighted {
  background-color: #EE5E54;
  color: #FFFFFF;
  flex-direction: row;
}

.feature-block.highlighted h1,
.feature-block.highlighted p,
.feature-block.highlighted em,
.feature-block.highlighted a {
  color: inherit;
}

@media screen and (min-width: 1440px) {

  .feature-block:nth-child(2n+0) .feature-block-caption {
    padding-left: calc((100vw - 1280px) / 2);
  }

  .feature-block:nth-child(2n+1) .feature-block-caption {
    padding-right: calc((100vw - 1280px) / 2);
  }

}

@media screen and (max-width: 1260px) {

  .feature-block {
    height: 80vh;
  }

  .feature-block.hero .feature-block-caption {
    padding-top: 120px;
  }

  .feature-block:nth-child(2n+0) .feature-block-caption {
    padding-left: 90px;
  }

  .feature-block:nth-child(2n+1) .feature-block-caption {
    padding-right: 90px;
  }

}

@media screen and (max-width: 992px) {

  .feature-block, .feature-block.downshifted {
    height: 600px;
    min-height: 0;
  }

  .feature-block-caption {
    padding: 45px;
  }

  .feature-block:nth-child(2n+0) .feature-block-caption {
    padding-left: 45px;
  }

  .feature-block:nth-child(2n+1) .feature-block-caption {
    padding-right: 45px;
  }

  .feature-block.downshifted .feature-block-caption {
    padding-top: 10vh;
  }

  .feature-block.downshifted .feature-block-image {
    padding-top: 0;
    padding-bottom: 10vh;
  }

  .feature-block.hero {
    height: auto;
    flex-direction: column-reverse;
  }

  .feature-block.hero .feature-block-image,
  .feature-block.hero .feature-block-caption {
    width: 100%;
    height: 400px;
  }

  .feature-block.hero .feature-block-image-displayable::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(68,68,68,0.5) 0%, rgba(68,68,68,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(68,68,68,0.5) 0%,rgba(68,68,68,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(68,68,68,0.5) 0%,rgba(68,68,68,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .feature-block.hero .feature-block-caption {
    justify-content: flex-start;
    padding: 90px;
    height: auto;
  }

  .feature-block.hero .feature-block-caption h1 {
    display: none;
  }

  .feature-block-image .feature-block-image-caption {
    display: block;
  }

  .feature-block.highlighted .feature-block-caption {
    width: auto;
  }

}

@media screen and (max-width: 768px) {

  .feature-block, .feature-block.downshifted {
    height: auto;
  }

  .feature-block.downshifted .feature-block-caption {
    justify-content: flex-start;
  }

  .feature-block-image {
    padding-top: 0;
    height: 300px;
  }

  .feature-block.downshifted .feature-block-caption {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .feature-block.downshifted .feature-block-image {
    padding-bottom: 0;
  }

}

@media screen and (max-width: 720px) {

  .feature-block-caption {
    width: 70%;
  }

  .feature-block-image {
    width: 30%;
  }

  .feature-block.downshifted .feature-block-caption {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .feature-block.hero .feature-block-caption {
    padding: 60px 45px;
  }

}

@media screen and (max-width: 576px) {

  .feature-block, .feature-block:nth-child(2n+1) {
    flex-direction: column-reverse;
  }

  .feature-block.downshifted .feature-block-image {
    width: 100%;
    height: 350px;
    padding: 0;
  }

  .feature-block.hero .feature-block-image {
    height: 250px;
  }

  .feature-block-image .feature-block-image-caption {
    padding: 80px 40px;
    font-size: 22px;
  }



  .feature-block-caption,
  .feature-block.downshifted .feature-block-caption,
  .feature-block.hero .feature-block-caption {
    padding: 30px 15px;
    width: 100%;
  }

}


/* Image and Call to Action */

.image-and-call-to-action {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(0.3 * 1080px + ((100% - 1080px) / 2));
  height: 800px;
  z-index: 1;
  min-height: 90px;
}

.image-and-call-to-action .featured-image {
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-and-call-to-action .button {
  text-decoration: none;
  margin: 20px 0 10px 0;
}

.image-and-call-to-action .button:first-child {
  margin-top: 570px;
}

.image-and-call-to-action .description {
  color: #999999;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

.image-and-call-to-action .button, .image-and-call-to-action .description {
  width: calc(0.3 * 1080px);
}

.image-and-call-to-action .button + .description {
  margin-top: 5px;
}

@media screen and (min-width: 1440px) {

  .image-and-call-to-action {
    width: calc(0.3 * 1280px + ((100% - 1280px) / 2));
  }

}

@media screen and (max-width: 1260px) {

  .image-and-call-to-action {
    width: calc(((100vw - 180px) * 0.3) + 90px);
    height: 700px;
  }

  .image-and-call-to-action .featured-image {
    height: 450px;
  }

  .image-and-call-to-action .button:first-child {
    margin-top: 470px;
  }

  .image-and-call-to-action .button, .image-and-call-to-action .description {
    width: calc(((100vw - 180px) * 0.3));
  }

}

@media screen and (max-width: 1120px) {

  .image-and-call-to-action .featured-image {
    height: 400px;
  }

  .image-and-call-to-action .button:first-child {
    margin-top: 420px;
  }

  .image-and-call-to-action .button, .image-and-call-to-action .description {
    width: calc(((100vw - 180px) * 0.3) + 45px);
  }

}

@media screen and (max-width: 992px) {

  .image-and-call-to-action {
    position: static;
    width: 100%;
    height: auto;
    margin-top: -90px;
  }

  .image-and-call-to-action .button,
  .image-and-call-to-action .description {
    display: none;
  }

}

@media screen and (max-width: 576px) {

  .image-and-call-to-action .featured-image {
    height: 250px;
  }

}


/* Article Content */

.article-content {
  margin-top: 120px;
  color: #666666;
  position: relative;
}

.article-content h2:first-child {
  margin-top: 0;
}

.article-content blockquote {
  color: #555555;
}

.article-content .author {
  font-size: 13pt;
}

.article-content .author em {
  font-style: normal;
  font-weight: bold;
}

.article-content .author-description {
  color: #999999;
  font-style: oblique;
  font-size: 12pt;
}


.article-content .code, .article-content pre {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 100%;
}

.article-content .article-figure, .article-content .wp-caption {
  margin: 40px 0;
  width: 100% !important;   /* Override pesky WordPress inline styling */
}

.article-content .article-figure img, .article-content .wp-caption img {
  display: block;
  width: 100%;
  height: auto;
}

.article-content .article-figure figcaption, .article-content .wp-caption .wp-caption-text {
  color: #999999;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0 !important; /* It's not my fault. WordPress decides to use <p> to describe <figcaptions>. Go <figure>. */
}

.article-content .article-figure img + figcaption, .article-content .wp-caption img + .wp-caption-text {
  margin-top: 20px;
}

.article-content blockquote::before, .article-content blockquote::after {
  content: '"';
}

.article-content .quote-source {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}

.article-content blockquote + .quote-source {
  margin-top: 20px;
}

.article-content .quote-source::before {
  content : '- ';
}

.article-content p,  .article-content ul, .article-content ol {
  margin: 0 0 23px 0;
}

.article-content p:empty,
.article-content ul:empty,
.article-content ol:empty {
  display: none;
  margin: 0;
}

.article-content .column-container:last-child p:last-child {
  margin-bottom: 70px;
}

.article-content .column-container {
  position: relative;
  overflow: visible;
}

.article-content > .column-container:first-of-type {
  min-height: 520px;
}

.article-content > .column-container:first-of-type p,
.article-content > .column-container:first-of-type li {
  font-size: 20px;
}

.article-content .column-container:last-child p:last-child {
  margin-bottom: 70px;
}

.article-content .column-container p:last-child,
.article-content .column-container ul:last-child,
.article-content .column-container ol:last-child {
  margin-bottom: 0;
}

.article-content .full-width p,
.article-content .full-width li,
.article-content .full-width blockquote {
  font-size: 18px;
  line-height: 1.5em;
}

.article-content .column-container .content-wrap {
  width: 60%;
}

.article-content .column-container p:last-child, .article-content .column-container ul:last-child, .article-content .column-container ol:last-child {
  margin-bottom: 0;
}

.article-content .full-width p, .article-content .full-width li, .article-content .full-width blockquote {
  font-size: 18px;
  line-height: 1.5em;
}

.article-content .full-width.code p  {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

.article-content .full-width + .column-container {
  margin-top: 70px;
}

.article-content .column-container + .full-width {
  margin-top: 70px;
}

.article-content .how-to .step {
  text-align: center;
}

.article-content .how-to .step img {
  display: block;
  margin: 0 auto 30px auto;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.article-content .button,
.article-content button,
.article-content input[type="button"] {
  margin-top: 70px;
}

.article-content .reference-list h3 {
  font-size: 22px;
  font-weight: bold;
  color: #666666;
  margin: 45px 0 30px 0;
}

.article-content .reference-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.article-content .reference-list ul li {
  color: #999999;
  font-size: 15px;
  line-height: 1.5em;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 1260px) {

  .article-content {
    margin-top: 60px;
  }

  .article-content > .column-container:first-of-type {
    min-height: 420px;
  }

  .article-content .column-container .content-wrap {
    width: 65%;
  }

  .article-content > .column-container:first-of-type p,
  .article-content > .column-container:first-of-type li {
    font-size: 18px;
  }

  .article-content .full-width p,
  .article-content .full-width li,
  .article-content .full-width blockquote {
    font-size: 16px;
  }

}


@media screen and (max-width: 992px) {

    .article-content {
      margin-top: 0;
    }

    .article-content .column-container .content-wrap {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .article-content > .column-container:first-of-type {
      min-height: 0;
    }

    .article-content > .column-container:first-of-type,
    .article-content .full-width + .column-container,
    .article-content .column-container + .full-width,
    .article-content .button, .article-content button, .article-content input[type="button"] {
      margin-top: 45px;
    }

    .article-content .how-to .step img {
      width: 90px;
    }

    .article-content .how-to .step figcaption {
      font-size: 16px;
    }

}

@media screen and (max-width: 576px) {

  .article-content {
    margin-top: 20px;
  }

  .article-content h1, .article-content h2, .article-content h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .article-content p, .article-content li, .article-content .full-width p, .article-content .full-width li, .article-content .full-width blockquote {
    font-size: 12pt;
    line-height: 1.5em;
  }

  .article-content p, .article-content li {
    color: #444444;
  }

  .article-content h2 {
    margin-top: 30px;
  }

  .article-content .reference-list h3 {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .article-content .reference-list ul li {
    margin-bottom: 15px;
  }

  .article-content .column-container + .full-width, .article-content .full-width + .column-container {
    margin-top: 35px;
  }

  .full-width .full-width-inner {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .full-width .full-width-inner .full-width-inner-col:not(:last-of-type) {
    margin-bottom: 0;
  }

  .full-width .full-width-inner h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

}

/* Footer */

.footer-container-inner {
  width: 65%;
  position: relative;
  margin: 20px 0 100px 0;
  padding: 50px 0 0 0;
  color: #999999;
  font-size: 16px;
  line-height: 1.5em;
}

.footer-container-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 5px;
  background-color: #EE5E54;
}

.footer-container-inner .eu-flag-footer {
  width: 60px;
  margin: 5px 30px 20px 0;
  float: left;
}

@media screen and (max-width: 992px) {

  .footer-container-inner {
    padding-top: 20px;
    width: 100%;
  }

}

@media screen and (max-width: 680px) {

  .footer-container-inner::before {
    width: 100%;
  }

  .footer-container-inner {
    margin-bottom: 50px;
  }

  .footer-container-inner .eu-flag-footer {
    float: none;
  }

}
